.liste-produit {
	&__liste {
		@include flexrow(space-between, initial);
		flex-wrap: wrap;
		&--empty {
			@include flexrow(center, center);
			width: 100%;
			height: 400px;
			overflow: hidden;
			background: white;
			margin-bottom: 40px;
			box-shadow: 0px 0px 10px rgb(230, 230, 230);
		}
	}
}
